

:where(.css-dev-only-do-not-override-nnuwmp).ant-popover .ant-popover-title {
    min-width: 298px;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    margin-left: 50px;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-popover .ant-popover-inner {
    background-color: #c5c5c5;
    background-clip: padding-box; 
    box-shadow: 0 6px 16px 0 rgba(187, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    padding: 12px;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-popover .ant-popover-title {
    min-width: 208px;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    padding-left:50px ;
    font-family: monospace;
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-popover .ant-popover-inner {
    background-color: #ffffff;
    background-clip: padding-box;
    box-shadow: 0 6px 16px 0 rgba(187, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    padding: 12px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),0 0 0 2px rgb(255, 255, 255),0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin-right: 21px;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-popconfirm .ant-popconfirm-buttons button {
    margin-inline-start: 8px;
    background: green;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-modal .ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger) {
    margin-bottom: 0;
    margin-inline-start: 8px;
    background: red;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-modal .ant-modal-content {
    position: relative;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: auto;
    padding: 20px 24px;
    width: 250px;
}
.ant-select-show-search:where(.css-dev-only-do-not-override-nnuwmp).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    cursor: text;
   
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-upload-wrapper.ant-upload-picture-card-wrapper,
:where(.css-dev-only-do-not-override-nnuwmp).ant-upload-wrapper.ant-upload-picture-circle-wrapper {
    display: inline-block;
    width: 100%;
    padding-left: 0; /* Set padding-left to 0 to remove the left padding */
}
.ui-timepicker-wrapper {
	overflow-y: auto;
	height: 150px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    padding: 0 11px;
    height: 40px;
    font-size: large;
    height: 20px;
}
.custom-select .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 20px; /* Change the height to 30px */
    font-size: large;
}
.custom-select {
    border-radius: 0;
  }