:where(.css-dev-only-do-not-override-nnuwmp).ant-input-number-affix-wrapper input.ant-input-number-input {
    padding: 4px 0;
    height: 40px;
   font-size: large;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 32px;
    padding: 0 11px;
    height: 40px;
    font-size: large;
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-input-number-group >.ant-input-number:first-child, :where(.css-dev-only-do-not-override-nnuwmp).ant-input-number-group .ant-input-number-group-addon:first-child {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    background-color: gray;
    height: 40px;
}
.cell {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
    display: table;
  }
  
  .card {
    background: white;
    border: 1px solid #c3c6cf;
    border-radius: 15px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 200px;
  }
  :where(.css-dev-only-do-not-override-nnuwmp).ant-upload-wrapper.ant-upload-picture-card-wrapper, :where(.css-dev-only-do-not-override-nnuwmp).ant-upload-wrapper.ant-upload-picture-circle-wrapper {
    display: inline-block;
    width: 100%;
    padding-left: 33px;
}

.animated-box {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite; 
}

@keyframes example {
  0%   {background-color: rgb(250, 143, 143); left: 0px; top: 0px;}
  25%  {background-color: rgb(225, 225, 145); left: 200px; top: 0px;}
  50%  {background-color: rgb(126, 126, 232); left: 200px; top: 200px;}
  75%  {background-color: rgb(122, 218, 122); left: 0px; top: 200px;}
  100% {background-color: rgb(232, 151, 151); left: 0px; top: 0px;}
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-modal .ant-modal-content {
  position: relative;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
  padding: 20px 24px;
  width: 441px;
}